<h3 class="location">5-day forecast for {{forecast.city_name}}, {{forecast.state_code}}</h3>
<div class="grid">
  <div class="grid__item">
    <div class="card">
      <h4 class="day">Today</h4>
      <span class="weather-icon">{{fa-icon "cloud"}}</span>
      <p class="temp">80°F</p>
      <p class="condition">Cloudy</p>
    </div>
  </div>
  <div class="grid__item">
    <div class="card">
      <h4 class="day">Today</h4>
      <span class="weather-icon">{{fa-icon "cloud"}}</span>
      <p class="temp">80°F</p>
      <p class="condition">Cloudy</p>
    </div>
  </div>
  <div class="grid__item">
    <div class="card">
      <h4 class="day">Today</h4>
      <span class="weather-icon">{{fa-icon "cloud"}}</span>
      <p class="temp">80°F</p>
      <p class="condition">Cloudy</p>
    </div>
  </div>
  <div class="grid__item">
    <div class="card">
      <h4 class="day">Today</h4>
      <span class="weather-icon">{{fa-icon "cloud"}}</span>
      <p class="temp">80°F</p>
      <p class="condition">Cloudy</p>
    </div>
  </div>
  <div class="grid__item">
    <div class="card">
      <h4 class="day">Today</h4>
      <span class="weather-icon">{{fa-icon "cloud"}}</span>
      <p class="temp">80°F</p>
      <p class="condition">Cloudy</p>
    </div>
  </div>
</div>
